#step {
  display: flex;
  width: 90%;
  margin: 1% 0% 2% 0%;
  background-color: #1a1a1a;
  color: white;
  border-bottom: 5px;
  border-style: none none solid none;
  border-bottom-color: #ff6600;
  font-size: 2vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#step:active {

}
