header {
  display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #666666;
}
.selected {
  background-color:#808080;
}
.notselected {
  background-color:#333333;
}
